#OS junk files
[Tt]humbs.db
*.DS_Store  

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in*/
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Test files
*.testsettings

# mstest test results
TestResults

#ncrunch
*ncrunch*
*crunch*.local.xml
CoLearningPublicWebsite/CoLearningPublicWebsite/bin/*
CoLearningPublicWebsite/packages/*
CoLearning.MailReminderService/packages/*
packages/*
Scripts/CoLearningTests.Results.xml
CoLearningPublicWebsite/CoLearning.PublicWebsite.Webview/error.log.*
Source/FrontOffice/src/packages/
Source/FrontOffice/build/packages/
Source/FrontOffice/build/output/
Source/FrontOffice/build/target/
Source/FrontOffice/build/*.log
Source/BackOffice/src/packages/
Source/BackOffice/build/packages/
Source/BackOffice/build/output/
Source/BackOffice/build/target/
Source/BackOffice/build/*.log
Source/MailReminderService/src/packages/
Source/MailReminderService/build/packages/
Source/MailReminderService/build/output/
Source/MailReminderService/build/target/
Source/MailReminderService/build/*.log
Source/Shared/src/packages/
Source/Shared/build/packages/
Source/Shared/build/output/
Source/Shared/build/target/
Source/Shared/build/*.log
Deployment/
Scripts/packages/
Source/Shared/src/DatabaseScripts/Sql server/XX_create_integrated_user_access.sql
Source/BackOffice/src/CoLearning.Backoffice.Js.Tests/node_modules/
Source/FrontOffice/src/CoLearning.FrontOffice.UI/app/main-built.js
Source/FrontOffice/src/CoLearning.Wisp.UI/App/main-built.js
MassTransitSpike/packages/
